<style>
    .genre-song{
        display: none;
    }
</style>
<section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100" style="padding-bottom:0px !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>Các bài hát thuộc thể loại: @ViewBag.Title</h2>
                </div>
            </div>
            @if (ViewBag.NewSong != null)
            {
                <div class="col-12">
                    <div class="section-heading style-2" style="margin-top:-80px !important;">
                        <h2>Các bài hát mới</h2>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @if (ViewBag.NewSong != null)
            {
                @foreach (var item in ViewBag.NewSong)
                {
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                            <div class="album-thumb">
                                <img src="~/img/song/@item.URLImg" alt="">
                            </div>
                            <div class="album-info">
                                <a href="~/bai-hat/@item.Id">
                                    <h5>@item.Name</h5>
                                </a>
                                <p>@item.Singer.Name</p>
                            </div>
                        </div>
                    </div>
                }
            }


        </div>
    </div>
</section>

@if (ViewBag.SongOfGenre != null)
{
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Những bài hát thuộc thể loại: @ViewBag.Title</h2>
                    </div>
                </div>
            </div>

            <div class="row song-of-genre">
                @foreach (var item in ViewBag.SongOfGenre)
                {
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2 genre-song">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                            <div class="album-thumb">
                                <img src="~/img/song/@item.URLImg" alt="">
                            </div>
                            <div class="album-info">
                                <a href="~/bai-hat/@item.Id">
                                    <h5>@item.Name</h5>
                                </a>
                                <p>@item.Singer.Name</p>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                        <a href="#" class="btn oneMusic-btn " id="loadMore">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@*<script>
    $(".box1").on('click', function (e) {
        e.preventDefault();
        var $productHidden = $(this).parent().children('.song-of-genre').find(".product__one:hidden"); //Find child have class li.product__one is hidden
        $productHidden.slice(0, 20).slideDown(); //Show 4 item are hidden
        var hLi = $(this).parent().children('.song-of-genre').find(".product__one:hidden").height() * 6 + 85;
        if ($productHidden.length == 0) {
            $("#load").fadeOut('slow');
        }
        else {
            $('html,body').animate({
                scrollTop: $(this).offset().top - hLi
            }, 1000);
        }


        if ($productHidden.length <= 19) {
            $(".box1").hide();
        }
    });
</script>*@
<script>
    window.onload = function () {
        $(".genre-song:hidden").slice(0, 12).slideDown();
        if ($(".genre-song:hidden").length != 0) {
            $("#loadMore").show();
        }
        else {
            $("#loadMore").fadeOut('slow');
        }
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $(".genre-song:hidden").slice(0, 12).slideDown();
            if ($(".genre-song:hidden").length == 0) {
                $("#loadMore").fadeOut('slow');
            }
        });
    };
</script>