<style>
    th img {
        width: 70px;
        height: 70px;
        -webkit-border-radius: 10%;
    }
    .s {
        min-height: 500px;
        padding-bottom:20px;
    }
    .e {
        padding-top: 100px;
        padding-left: 50px;
    }
</style>
<h2 class="e">TÌM KIẾM</h2>
<div class="container s">

    <br />
    @if (ViewBag.listSong.Count == 0 && ViewBag.listAlbum.Count == 0)
    {
        <center><h5> Không tìm thấy</h5></center>
    }
    <div id="all">
    @if (ViewBag.listSong.Count != 0)
    {
        <a asp-action="AllSong" asp-route-txtSearch="@ViewBag.txtSearch"><h5>BÀI HÁT <i class="fa fa-angle-right" aria-hidden="true"></i></h5></a>
        <br />
        <table class="table">
            <tbody>
                @foreach (var song in ViewBag.listSong)
                {
                <tr>
                   
                        <th width="100px" scope="row"><img src="~/img/song/@song.URLImg" /></th>
                        <td>
                            <a href="~/bai-hat/@song.Id">
                                <b style="font-size:18px;">@song.Name</b>
                                </a>
                                <br />
                                <p>@song.Singer.Name</p>
                        </td>
                        <td style="font-size:18px; color:gainsboro; padding-top:30px;"><i class="fa fa-user" aria-hidden="true">&nbsp;thanh duy</i></td>
                        <td style="font-size:18px; color:gainsboro; padding-top:30px;"><i class="fa fa-headphones" aria-hidden="true">&nbsp;1000</i></td>
             
                        </tr>
                }
            </tbody>
        </table>
    }
    @if (ViewBag.listAlbum.Count != 0)
    {
        <div class="row">
            <div class="col-12">
                @*<div class="section-heading style-2">*@

                <a asp-action="AllAlbum" asp-route-txtSearch="@ViewBag.txtSearch"><h5>ALBUM <i class="fa fa-angle-right" aria-hidden="true"></i></h5></a>
                <br /><br />
                @*</div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <!-- Single Album -->
                    @foreach (var album in ViewBag.listAlbum)
                    {
                        <div class="single-album">
                            <img src="~/img/album/@album.Image" />
                            <div class="album-info">
                                <a href="#">
                                    <h5>@album.Name</h5>
                                </a>
                                <p>@album.Singer.Name</p>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
        </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    //function allSong() {
    //    var txtSearch = document.getElementById('txtSearch').value;
    //    $.ajax({
    //        type: "get",
    //        url: '/Home/AllSong',
    //        dataType: 'html',
    //        data: { 'txtSearch': txtSearch },
    //        success: function (data) {
    //            $("#all").html(data);
    //        }
    //    });
    //}
    //function allAlbum() {
    //    var txtSearch = document.getElementById('txtSearch').value;
    //    $.ajax({
    //        type: 'get',
    //        url: '/Home/AllAlbum',
    //        dataType: 'html',
    //        data: { 'txtSearch': txtSearch },
    //        success: function (data) {
    //            $("#all").html(data);
    //        }
    //    });
    //}
</script>
}

