@model IEnumerable<DDMusic.Areas.Admin.Models.AlbumModel>
<style>
    img {
        width: 50%
    }
    a {
        color: #000;
    }

    .c {
        width: 150px;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Album</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Album</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <a class="btn btn-success btn-xs" asp-action="CreateAlbum" asp-controller="Album">Thêm <i class="nav-icon fas fa-plus"></i></a>
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Tên Album</th>
                                        <th>Ca sĩ</th>
                                        <th class="c">Hình ảnh</th>
                                        <th class="c">Thao tác</th>
                                        <th class="c">Chi Tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Singer.Name</td>
                                            <td><img src="~/img/Album/@item.Image" /></td>
                                            <td><a class="btn btn-info btn-xs" asp-action="EditAlbum" asp-controller="Album" asp-route-id="@item.Id">Cập nhật <i class="nav-icon fas fa-edit"></i></a> <a class="btn btn-danger btn-xs" asp-controller="Album" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Bạn có muốn xóa album này không?');">Xóa <i class="fas fa-trash-alt"></i></a></td>
                                            <td><a class="btn btn-success btn-xs" asp-action="DetailAlbum" asp-controller="Album" asp-route-id="@item.Id">Chi Tiết <i class="nav-icon fas fa-info-circle"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>