@model DDMusic.Areas.Admin.Models.UserModel
<style>
    img {
        width:50%;
    }
    .c {
        width: 150px;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Users</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <a class="btn btn-success btn-xs" asp-action="CreateUsers" asp-controller="Users">
                              Thêm <span class="av-icon fas fa-plus"></span>
                              </a>  <br /><br />
                                @*<a asp-action="CreateUsers" asp-controller="Users"><i title="Thêm" class="nav-icon fas fa-user-plus"></i></a>*@
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="c">Hình ảnh</th>
                                            <th>Tên đăng nhập</th>
                                            @*<th>Mật khẩu</th>*@
                                            <th>Email</th>
                                            <th>Tên</th>

                                            @*<th>Hình</th>*@
                                            <th>Địa chỉ</th>
                                            <th class="c"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.ListUser != null)
                                        {
                                            foreach (DDMusic.Areas.Admin.Models.UserModel item in ViewBag.ListUser)
                                            {
                                                <tr>
                                                    <td><img src="~/img/user-img/@Html.DisplayFor(modelItem => item.URLImg)" alt="Không có hình" /></td>
                                                    <td>@Html.DisplayFor(m => item.UserName)</td>
                                                    @*<td>@Html.DisplayFor(m=>item.PasswordHash)</td>*@
                                                    <td>@Html.DisplayFor(m => item.Email)</td>
                                                    <td>@Html.DisplayFor(m => item.Name)</td>
                                                    @*<td>ttduy.jpg</td>*@
                                                    <td>@Html.DisplayFor(m => item.Address)</td>
                                                    <td><a class="btn btn-info btn-xs" asp-controller="Users" asp-action="EditUsers" asp-route-id="@item.Id">Cập nhật <i title="Cập nhật" class="nav-icon fas fa-edit"></i></a>
                                                    <a class="btn btn-danger btn-xs" asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Bạn có muốn xóa không?');">Xóa <i title="Xóa" class="fas fa-trash-alt"></i></a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
</div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>